<header class="border-b shawdow-md p-3 w-ful">
<div class="flex align-middle items-center justify-between max-w-screen-2xl mx-auto">
<img src="/images/logo_epcci_500x196.jpg" alt="app logo" class="max-h-16 gap-7">
<nav class="flex gap-7 my-3  text-xl font-light">
    <a> Acceuil </a>
    <a> Présentation </a>
    <a> Nos formation </a>
    <a> Admissions </a>
    <a> Bibliothèques </a>    
    <a> Contacts </a>

    <div class="flex gap-3 align-middle">
        <a matBadge="5" matBadgeSize="large" class="custom-badge mt-2 mr-2">
            <mat-icon class="">shopping_cart</mat-icon>   -     
          
        </a>
        <a matBadge="15" matBadgeSize="large" class="custom-badge mt-2 mr-2">
            <mat-icon class="">mail</mat-icon>               
        </a>

        <button mat-stroked-button class="mx-3">Se connecter</button>
        <button mat-stroked-button class="mx-1">Se connecter</button>
    </div>
    

</nav>

</div>
</header>